*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
h2{
  color: #034d7a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-image: url('assets/imgs/fundo.avif');
  /* background-size: cover; */
  background-position: center;
  /* background-repeat: no-repeat; */
}
