*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
h2{
  color: #1c01b1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .container {
  background-image: url('/src/assets/imgs/investidores.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
